[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.1"
djangorestframework = "==3.14.0"
psycopg2-binary = "*"
django-debug-toolbar = "*"
requests = "*"
pytest-dotenv = "*"
flask = "*"
required-env = "*"

[dev-packages]
sphinx = "*"
werkzeug = "*"
django-extensions = "*"
pytest = "*"
pytest-django = "*"
black = "*"

[requires]
python_version = "3.10"
